body {
  font-family: "Poppins", sans-serif;
  background: #a39292;
  color: #acb7d1;
  font-weight: 400;
}

h1 {
  color: #9baacf;
  font-size: 32px;
  font-weight: 200;
  line-height: 29px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #9badd7;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}
.weather-app {
  padding: 30px;
  border: 2px solid #f6f8fa;
  border-radius: 5px;
}
.overview {
  margin-bottom: 30px;
}

.weather-temperature img {
  margin-right: 15px;
  height: 72px;
  width: 72px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  top: -32px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

#search-input,
#search-button {
  font-size: 1rem;
  border: none;
  transition: all 200ms ease-in-out;
}

#search-button {
  padding: 5px 15px;
  background: #6d5dfc;
  color: #fff;
  border-radius: 10px;
  box-shadow: inset 0.2rem 0.2rem 1rem #8abdff,
    inset -0.2rem -0.2rem 1rem #5b0eeb, 0.3rem 0.3rem 0.6rem #c8d0e7,
    -0.2rem -0.2rem 0.5rem #fff;
}
